<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Activated:</strong>
  <%= @product.activated %>
</p>

<p>
  <strong>Company:</strong>
  <%= @product.company %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
